.container {
    display: grid;
    grid-template-areas: 
    "dialogs messages";


    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
}
.dialog {
    grid-area: dialogs;
    background-color: rgb(140, 102, 173);
}

.messages {
    grid-area: messages;
    background-color: rgb(140, 102, 173);
}
